.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
dart_tool/
.idea/
*.iml
*.lock
